{% load static %}
<!-- Call To Action 1 - Bootstrap Brain Component -->
<section class="bsb-cta-1 px-2 bsb-overlay" style="background-image: url({% static "images/girlholdingphone2.jpg" %});">
  <div class="container" style="border: none;">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-8 col-xl-7 col-xxl-6">
          <h2 class="display-5 text-white mb-4">Building a digital world where Kindness and Respect thrive, where every young person feels safe and supported </h2>
          <h2 class="fs-5 mb-3 text-white">Join Us in empowering individuals to speak out through education and embracing empathy to reduce cyberbullying and develop a vibrant community</h2>
          <a href="#!" class="btn rounded-pill px-4 text-white">Join Us</a>
      </div>
    </div>
  </div>
</section>