<div class="container-fluid bg-light shadow py-0 py-md-5 mt-1 px-4" style="max-width: 1200px; margin-left: auto; margin-right: auto;">
    <div class="row row-cols-1 row-cols-md-4 g-2 justify-content-center">
        <div class="col">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <h5 class="card-title">Digital Village Members</h5>
                    <h4>200+</h4>
                    <p class="card-text">Vibrant Community Members</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <h5 class="card-title">Pledges Made</h5>
                    <h4>100+</h4>
                    <p class="card-text">Commitments to online kindness</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <h5 class="card-title">Events Completed</h5>
                    <h4>47+</h4>
                    <p class="card-text">Workshops, debates, and activities</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-center">
                <div class="card-body">
                    <h5 class="card-title">Stories Shared</h5>
                    <h4>50+</h4>
                    <p class="card-text">Experiences of change and hope</p>
                </div>
            </div>
        </div>
    </div>

</div>
