{% load static %}

<!-- Hero 2 - Bootstrap Brain Component -->
<section class="bsb-hero-2 px-3">
    <div class="container overflow-hidden">
        <div class="row gy-3 gy-lg-0 align-items-lg-center justify-content-lg-between">
            <div class="col-10 col-lg-6 order-1 order-lg-0">
                <h2 class="mb-3">Why This Matters</h2>
                <p class="lead fs-5 mb-3 mb-xl-2">Every day, young Kenyans face harassment, threats, and bullying
                    online. But we're not just
                    scrolling past the problem, we're stopping it.</p>
                <p class="fs-5 m-0 mb-lg-3">Through education, advocacy, and community action, we're creating digital spaces where kindness wins over cruelty.</p>
                <div class="d-grid gap-2 d-sm-flex">
                    <button type="button" class="btn btn-primary text-white bsb-btn-xl rounded-pill px-4">Learn more</button>
                </div>
            </div>
            <div class="col-12 col-lg-5 text-center">
                <img class="img-fluid " style="border-radius: 50px;" loading="lazy" src="{% static 'images/isolatedpinkwallgirlwithphone.jpg' %}" alt="Scroll bila troll cyberbullying">
            </div>
        </div>
    </div>
</section>

