<!-- Team 2 - Bootstrap Brain Component -->
{% load static %}
<section class="py-3 py-md-5 py-xl-8">
  <div class="container overflow-hidden">
    <div class="row-cols-md-4">
       <h2 class="mb-3">Member Spotlight</h2>
    </div>
    <div class="row gy-4 gy-lg-0">
      <div class="col-12 col-lg-4">
        <div class="card border-0">
          <figure class="card-img-top m-0 overflow-hidden bsb-overlay-hover">
            <a href="#!">
              <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="lazy" src="{% static 'images/young-friends-looking-smartphone-street.jpg' %}" alt="Alex owino">
            </a>
            <figcaption>
              <h4 class="h6 text-white bsb-hover-fadeInRight mt-2">Read More</h4>
            </figcaption>
          </figure>
          <div class="card-body border bg-white p-4">
            <h2 class="card-title h4 fw-bold mb-3">Alex Owino</h2>
            <p class="card-text text-secondary">TUM Student & Cyber Kindness Ambassador.</p>
          </div>
          <div class="card-footer border border-top-0 bg-white p-4">
            <ul class="nav mb-0 bsb-nav-sep">
              <li class="nav-item text-secondary">
                <a class="nav-link link-secondary p-0 pe-3 d-inline-flex align-items-center" href="#!">
                  
                  <span class="ms-2 fs-6">Student, Technical University of Mombasa</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card border-0">
          <figure class="card-img-top m-0 overflow-hidden bsb-overlay-hover">
            <a href="#!">
              <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="lazy" src="./assets/img/team-img-3.jpg" alt="James Levi">
            </a>
            <figcaption>
              
            </figcaption>
          </figure>
          <div class="card-body border bg-white p-4">
            <h2 class="card-title h4 fw-bold mb-3">James Levi</h2>
            <p class="card-text text-secondary">Content Creator & Anti-Bullying Advocate.</p>
          </div>
          <div class="card-footer border border-top-0 bg-white p-4">
            <ul class="nav mb-0 bsb-nav-sep">
              <li class="nav-item text-secondary">
                <a class="nav-link link-secondary p-0 pe-3 d-inline-flex align-items-center" href="#!">
                  
                  <span class="ms-2 fs-6">Financial Analyst</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="card border-0">
          <figure class="card-img-top m-0 overflow-hidden bsb-overlay-hover">
            <a href="#!">
              <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="lazy" src="./assets/img/team-img-2.jpg" alt="Taytum Elia">
            </a>
            <figcaption>
              
            </figcaption>
          </figure>
          <div class="card-body border bg-white p-4">
            <h2 class="card-title h4 fw-bold mb-3">Taytum Elia</h2>
            <p class="card-text text-secondary">Peer Counselor & Digital Safety Trainer.</p>
          </div>
          <div class="card-footer border border-top-0 bg-white p-4">
            <ul class="nav mb-0 bsb-nav-sep">
              <li class="nav-item text-secondary">
                <a class="nav-link link-secondary p-0 pe-3 d-inline-flex align-items-center" href="#!">
              
                  <span class="ms-2 fs-6">Art Director</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>