html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

.about-us {
  background-color: #eee6ff;
}

.partner-card {
    transition: transform 0.3s ease-in-out;

  }
.partner-card:hover {
  transform: scale(1.05);
}

.btn-outline-primary {
  color: #ff66c4;
  border-color: #ff66c4;
}

 .testimonial-card {
    transition: transform 0.3s ease-in-out;
  }
  .testimonial-card:hover {
    transform: scale(1.05);
  }