{% load static %}
<!-- Call To Action 1 - Bootstrap Brain Component -->
<section class="bsb-cta-1 px-2 bsb-overlay" style="background-image: url({% static "images/girlholdingphone2.jpg" %});">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-9 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="display-5 text-white mb-4">About Us</h2>
        <button type="button" class="btn btn-primary text-white bsb-btn-xl rounded-pill px-4">Join Our Village</button>
        
      </div>
    </div>
  </div>
</section>