{% load static %}
<!-- Hero 4 - Bootstrap Brain Component -->
<section class="container-fluid bsb-hero-4 px-0" style="background-color: #a100f2;">
  <div class="container-fluid overflow-hidden">
    <div class="row">
      <div class="col-12 col-md-6 order-1 order-md-0 align-self-md-end">
        <div class="row py-1 py-sm-2 py-xl-3 mt-md-2 justify-content-sm-center">
          <div class="col-12 col-sm-10">
            <h2 class="mb-2 text-white">How You Can Support Our Future</h2>
            <div class="row">
              <div class="col-12 col-xxl-8">
                <p class="mb-5 text-white">Whether you're a survivor seeking support, an advocate ready to fight, an educator wanting resources, or an organization seeking partnership, there's a place for you in the movement we're building.
                        Together, we're not just changing policies or platforms—we're changing the culture of how we treat each other online. We're proving that young Kenyans won't accept harassment as normal, and we won't stop until every person can scroll without fear and connect without trolls.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 p-0">
        <img class="img-fluid object-fit-cover" loading="lazy" src="{% static 'images/kenyan teens using phones-toendcyberbullying.jpg' %}" alt="End cyberbullying">
      </div>
    </div>
  </div>
</section>