{% load static %}
<div class="container mt-0 mb-5">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-lg-2">
        <img src="url({% static "images/3571300.png" %});" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col">
    </div>
    <div class="col-lg-8 py-3 px-5" style="background-color: #ffe5ec;">
        <h2 >The Problem We Discovered</h2>
        <p>In 2024, we conducted research that revealed a shocking reality: 78% of youth in Mombasa between ages 18-25 had experienced cyberbullying on TikTok. This wasn't just a statistic, it represented thousands of young Kenyans who were being silenced, harassed, and driven away from digital spaces that should be theirs to explore and express themselves freely.
        eration was under attack online, but no one was talking about it.</p>
    
        <hr style="border-top: 2px solid #fff;">
        <h2>How We Began</h2>
        <p>The Scroll Bila Troll Campaign emerged from the frustration of young advocates who refused to accept that harassment was just "part of being online." We started with a simple belief: every young person deserves to scroll through their feeds without fear, and connect with others without trolls disrupting their peace.
        at individual resilience wasn't enough—we needed systemic change, community support, and collective action.</p>
    </div>
    
    <div class="col-lg-2">
      
    </div>
  </div>
</div>

<div class="container-fluid mt-5 mb-5">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-lg-8 py-3 px-5">
        <div class="col-lg-4 p-3 rounded-3" style="position: relative; background-color: #8c52ff;">
            <h2 class="fs-sm-4 fs-md-4 mt-lg-2 mt-sm-3">Our Mission</h2>
        </div>
        <div class="col-sm-9 p-3 mx-4 rounded-bottom-4 mb-4 z-index: 2; position: relative;" style="background-color: #f4f4f4; margin-top: -10px;">
            <p>To create a digital village where young Kenyans can connect, share, and thrive without fear of harassment or bullying. We aim to empower youth through education, advocacy, and community-building initiatives that promote kindness, respect, and positive online interactions.
            </p>
        </div>
        
    </div>
    
    <div class="col">
    </div>
  </div>
  
</div>
