<div class="col-11" style="margin: auto;">
    <div class="col-8" style="margin: auto;">
        <h2>We envision a Kenya where:</h2>
        <div class="row">
            <div class="col-md-6">
                <hr class="mb-4" style="border-top: 4px solid #ff66c4; width: 40%;">
            </div>
        </div>

        <br>
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-2">
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Online communities are built on kindness, respect, and mutual support</h5>

                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">No young person suffers in silence from online harassment</h5>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Digital platforms are held accountable for user safety</h5>
                    
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Government policies protect victims and prosecute cyberbullying</h5>
                
                </div>
            </div>
        </div>
    </div>

</div>
