
{% load static %}
{% block content %}
<!-- Hero Section -->
<section class="container-fluid bsb-hero-4 px-0" style="background-color: #a100f2;">
  <div class="container-fluid overflow-hidden">
    <div class="row">
      <div class="col-12 col-md-6 order-1 order-md-0 align-self-md-end">
        <div class="row py-1 py-sm-2 py-xl-3 mt-md-2 justify-content-sm-center">
          <div class="col-12 col-sm-10">
            <h1 class="mb-2 text-white">Our Digital Village</h1>
            <hr style="border: 1px solid #ff69b4; width: 40%;">
            <div class="row">
              <div class="col-12 col-xxl-8">
                <h5 class="mb-5 fw-600 text-white">Join 40+ young Kenyans building safer online spaces together
                    through peer support, awareness campaigns, and advocacy.</h5>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 p-0">
        <img class="img-fluid object-fit-cover" loading="lazy" src="{% static 'images/smiley-friends-with-smartphones-medium-shot.jpg' %}" alt="End cyberbullying">
      </div>
    </div>
  </div>
</section>


{% endblock %}